/*
* Box Theme from http://demo.themefisher.com/demos/?theme=Box
*/

/* Google fonts & font family
==================================================*/    
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/* General
==================================================*/

html,
body {
    height: 100%;
    font-family: 'Merriweather', serif;
    line-height: 1.8;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.main-container {
    padding: 100px 0;
}

.main-container-barclays {
}

.main-container-china {
    padding-top: 10em;
}

.main-container-fraser {
    
}

.main-container-meno {
    padding-top: 5em;
}

.main-container-mysurrey {
    margin-top: -15em;
}

.center {
    text-align: center;
}

a {
    -webkit-transition: all .3s;
    transition: all .3s
}

.uppercase {
    text-transform: uppercase;
}

p {
    font-size: 1.2em;
}
/* typography
==================================================*/

h1 {
    color: #393939;
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Lora', serif;
}


.splash h1 {
    padding-left: 0.25em;
    padding-right: 0.25em;
    text-align: left;
    font-family: 'Lora', serif;
    font-size: 3.5em;
    text-transform: none;
    margin-top: auto;
}

.first-name h1 {
    font-family: 'Lora', serif;
    font-size: 2.5em;
    padding-left: 0.53em;
    text-align: left;
    margin: auto;
    
}
.splash h2 {
    text-align: left;
    font-size: 1.75em;
    padding-left: 0.5em;
    font-family: 'Merriweather', serif;
    margin-top:
}

.splash h3 {
    padding-left: 0.5em;
}

.splash p {
    padding-left: .7em;
    font-size: 3em;
}

.splash {
    height: 100vh;
    padding-top: 5em;
}

.splash-sentence {
    padding-left: 1em;
    padding-right: 1em;
    width: 30%;
}

.splash-sentence h2 {
    line-height: 1.5em;
}

@media screen and (max-width: 1450px) {
  .splash-sentence {
    width: 45%;
  }
}

@media screen and (max-width: 900px) {
  .splash-sentence {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .splash-sentence {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .splash-sentence {
    width: 100%;
  }
}

footer h1 {
    font-family: 'Lora', serif;
    font-size: 3em;
    text-transform: none;
}

footer h2 {
    font-family: 'Lora', serif;
    font-size: 2em;
    font-weight: 600;
    color: rgb(134,206,193);
}


h3, h4 {
    padding-top: 1em;
    font-family: 'Lora', serif;
    color: #393939;
}

.subhead {
    margin-top: -1em;
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
}

h5 {
    font-family: 'Merriweather', serif;
    color: rgb(134,206,193);
}



/* preloader
==================================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    /* change if the mask should be a color other than white */
    z-index: 1000;
    /* makes sure it stays on top */
}

.pre-container {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(134,206,193);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/* Nav code from here: https://www.taniarascia.com/responsive-dropdown-navigation-bar/ */

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding-right: 2em;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 1.6em;
  line-height: 70px;
  background: #ffffff;
  color: #393939;
  text-decoration: none;
    font-family: 'Merriweather', serif;
  font-size: 1.1em;
    
}
nav ul li a:hover, a:focus {
  color: rgb(134,206,193);
  text-decoration: none;
}

  nav a:hover::before {
    transform: scale(0.6,1);
  }

nav ul li a:not(:only-child):after {
  padding-left: 0.333em;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 15.833em;
}
nav ul li ul li a {
  padding: 1.25em;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 5em;
  width: 5em;
}


.navigation {
  height: 4.375em;
  background: #ffffff;
  margin-bottom: 1em;
}

.nav-container {
  max-width: 100%;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 2em;
  float: left;
  line-height: 70px;
}
.brand a,
.brand a:visited {
  color: #393939;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: lighter;
    font-family: 'Lora', serif;
}

.brand a:after{
    content:'DANG.';
}
.brand a:hover:after{
    content:'DANG!';
}

.brand a:focus:after{
    content:'DANG!';
}

.last-name {
    display: inline-block;
    margin-bottom: -1em;
}

.last-name h1:after{
    content:'DANG.';
}
.last-name h1:hover:after{
    content:'DANG!';
}

.last-name h1:focus:after{
    content:'DANG!';
}

#top-button {
  display: inline-block;
  background-color: rgb(134,206,193);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#top-button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#top-button:hover {
  cursor: pointer;
  background-color: #393939;
}
#top-button:active {
  background-color: #393939;
}
#top-button.show {
  opacity: 1;
  visibility: visible;
}

/* mouse effect */

.mouse {
    position: absolute;
    width: 22px;
    height: 42px;
    bottom: 40px;
    left: 50%;
    margin-left: -12px;
    border-radius: 15px;
    border: 2px solid #393939;
    -webkit-animation: intro 1s;
    animation: intro 1s;
}

.scroll {
    display: block;
    width: 3px;
    height: 3px;
    margin: 6px auto;
    border-radius: 4px;
    background: #393939;
    -webkit-animation: finger 2s infinite;
    animation: finger 2s infinite;
}

@-webkit-keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes intro {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
}

@-webkit-keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

/* about section
==================================================*/

#about h1{
    font-size: 3.5em;
    text-transform: none;
    margin-top: 0em;
}

#about {
    background-color: #f5f5f5;
    padding-left: 1em;
    padding-right: 1em;
}

/* portfolio section
==================================================*/

.portfolio .categories-grid span {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.portfolio .categories-grid .categories ul li {
    list-style: none;
    margin: 20px 0;
}

.portfolio .categories-grid .categories ul li a {
    display: inline-block;
    color: #60606e;
    padding: 0 10px;
    margin: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio .categories-grid .categories ul li a:hover,
.portfolio .categories-grid .categories ul li a:focus {
    text-decoration: none;
}

.portfolio .categories-grid .categories ul li a.active {
    margin-left: 0;
    background-color: #ffbf00;
    padding: 0px 20px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
}

.portfolio_filter {
    padding-left: 0;
}

.portfolio_item {
    position: relative;
    overflow: hidden;
    display: block;
}

.portfolio_item:hover {
    transform: scale(1.08);
    transition: .5s;
}



.portfolio .categories-grid .categories ul li {
    float: left;
}

.portfolio .categories-grid .categories ul li a {
    padding: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio_filter {
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-inner {
    padding-bottom: 0 !important;
    padding-top: 55px;
}

.process-images img {
    max-width: 100%;
    padding: 2em 0 2em 0;
}

.process-images-small img {
    max-width: 80%;
    padding: 0;
}



figcaption {
    font-family: 'Merriweather', serif;
}

.fig-padding {
    margin-top: -1em;
    padding-bottom: 2em;
}

.item-head {
    font-family: 'Lora', serif;
    text-align: center;
    background: black;
    margin: 0;
    color: white;
    line-height: 3em;
    font-size: 1.5em;
    
}

.item-head:hover {
    text-decoration: none;
}

* {
  box-sizing: border-box;
}

.single-project {
  float: left;
  width: 50%;
  padding: 10px;
       
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#projects {
    padding-left: 20%;
    padding-right: 20%;
}

@media screen and (max-width: 1500px) {
    #projects {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 1000px) {
  .single-project {
    width: 100%;
  }
    #projects {
        padding-left: 5%;
        padding-right: 5%;
    }
}

/* footer
==================================================*/

footer {
    padding: 3%;
    text-align: center;
    background: #f5f5f5
}

/* footer
==================================================*/

.top-bar {
    color: #333;
    padding: 150px 0 150px;
    background: -webkit-linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(../img/01.jpg);
    background: linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(../img/01.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}


.top-bar-china {
    color: #333;
    padding-top: 5em;
    text-align: center;
}

.top-bar-fraser {
    color: #333;
    padding-top: 5em;
    text-align: center;
}

.top-bar-mysurrey {
    color: #333;
    padding-top: 5em;
    text-align: center;
}

.top-bar-maps {
    color: #333;
    padding-top: 5em;
    text-align: center;
}

.top-bar-mysurrey h1, .top-bar-china h1, .top-bar-barclays h1, .top-bar-meno h1, .top-bar-fraser h1, top-bar-maps h1 {
    text-transform: none;
}

.top-bar-barclays {
    color: #333;
    padding-top: 5em;
    padding-top: 5em;
    text-align: center;
}

.top-bar-meno {
    color: #333;
    padding-top: 5em;
    text-align: center;
}


.top-bar-barclays img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 53%;
  padding-top: 12em;
}

.top-bar-mysurrey img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.top-bar-china img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 53%;
  padding-top: 12em;
}

.top-bar-meno img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 53%;
  padding-top: 12em;
}

.top-bar-maps img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 53%;
  padding-top: 3em;
}


.top-bar-fraser img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 12em;
}

@media only screen and (max-width:375px) {
    .top-bar-waze h1, .top-bar-schedule h1, top-bar-spatial h1 {
        font-size: 3em;
    }
}

.landing {
}

.top-bar h1 {
    font-size: 60px;
    font-weight: 700;
    color: #999;
    line-height: 50px;
}

.top-bar p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #777;
}

.top-bar p a {
    color: #777;
}

.top-bar p a:hover,
.top-bar p a:focus {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* single project page
==================================================*/

.cat-ul {
    padding-left: 1.5em;
    list-style: circle
}
/* Responsive media queries
==================================================*/
@media only screen and (max-width: 1800px) {
    
}
@media only screen and (max-width: 1600px) {
        .main-container-china {
        padding-top: 5em;
    }
        .main-container-mysurrey {
        padding-top: 10em;
    }
        .main-container-maps {
        padding-top: 3em;
    }
}

@media only screen and (max-width: 1400px) {
        .main-container-mysurrey {
        padding-top: 0em;
    }
        .main-container-barclays {
        padding-top: 6em;
    }
        .main-container-maps {
        padding-top: 3em;
    }
        .top-bar-meno img{
        width: 70%;
    }
        .top-bar-maps img{
        width: 80%;
    }
}

@media only screen and (max-width: 1200px) {
        .top-bar-china img{
        width: 70%;
    }
        .top-bar-mysurrey img{
        width: 80%;
    }
        .top-bar-fraser img{
        width: 70%;
    }
        .top-bar-maps img{
        width: 80%;
    }
        .top-bar-barclays img{
        width: 80%;
    }
}

@media only screen and (max-width: 991px) {
    .portfolio .categories-grid span {
        margin-bottom: 0;
        text-align: center;
        width: 100%;
    }
    .portfolio .categories-grid .categories ul li {
        text-align: center;
    }
    .portfolio .categories-grid .categories ul li a {
        margin-left: 0;
    }
    .col-md-6 h3 {
        margin-top: 30px;
    }
        .top-bar-china img{
        width: 80%;
    }
        .top-bar-mysurrey img{
        width: 100%;
    }
        .top-bar-meno img{
        width: 100%;
    }
}

@media only screen and (max-width: 770px) {
        .main-container-mysurrey {
        padding-top: 5em;
    }
}

@media only screen and (max-width: 670px) {
/*
    .box-headline {
        font-size: 100px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
*/
    .top-bar h1 {
        font-size: 40px;
        line-height: 30px;
    }
    .portfolio .categories-grid .categories ul li {
        float: none;
    }
    .main-container-china {
        padding-top: 0;
    }
    .top-bar-china img{
        width: 100%;
    }
    .top-bar-barclays img{
        width: 100%;
    }
    
}
@media only screen and (max-width: 600px) {
    .main-container-fraser {
        padding-top: 0em;
    }
}
@media only screen and (max-width: 520px) {
/*
    .box-headline {
        font-size: 80px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
*/
    .main-container {
        padding: 50px 0;
    }
    .main-container-mysurrey {
        padding-top: 10em;
    }
    .top-bar-fraser img {
        width: 100%;
    }
    .top-bar-barclays, .top-bar-china, .top-bar-meno, .top-bar-mysurrey, .top-bar-fraser {
        padding-left: 1.25em;
        padding-right: 1.25em;
    }
}

@media only screen and (max-width: 420px) {
/*
    .box-headline {
        font-size: 50px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
*/
    .top-bar h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .main-container-fraser {
        padding-top: 20em;
    }
    .main-container-meno {
        padding-top: 5em;
    }
    .main-container-china {
        padding-top: 2em;
    }
}

@media only screen and (max-width: 360px) {
    .main-container-fraser {
        padding-top: 30em;
    }
    .main-container-meno {
        padding-top: 10em;
    }
    .main-container-mysurrey {
        padding-top: 10em;
    }

}

/*Style-guide*/

code {
    background-color: black;
    color: rgb(134,206,193);
}

#interactive_elements h2 {
    font-family: 'Lora', serif;
}
#interactive_elements h3 {
    font-family: 'Merriweather', serif;
}

#interactive_elements .in-text-link {
    padding-left: 1em;
    color: rgb(134,206,193);
}

#interactive_elements .submit-button {
    margin-left: 1em;
    padding: 1em;
    color: #393939;
    background-color: rgb(134,206,193);
}

#interactive_elements .submit-button:hover {
    margin-left: 1em;
    padding: 1em;
    color: white;
    text-decoration: none;
    background-color: black;
}
#text_elements p {
    font-size: 1em;
}

#text_elements .padding-top {
    padding-top: 3em;
}

#combined_elements p {
    font-size: 1em;
}

input {
    border: solid 1px rgb(134,206,193);
    border-radius: 1px;
}

.in-text-link {
    color: rgb(114,186,173);
    padding-right: 0.3em;
}

.in-text-link:hover {
    color: #393939; 
    text-decoration: none;
}

.swatch-col img {
    width: 80%;
}
